# Entornos visuales
venv/
env/
.venv/

# Carpetas de dependencias
__pycache__/
*.py[cod]
node_modules/
dist/
.vite/
.env

# Archivos de configuración de VS Code
.vscode/
.idea/

# Bases de datos y datasets (para no subir datos pesados)
*.db
*.sqlite3
*.csv